/* RESET */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, sans-serif;
   background-color: #141414;
   color: #fff;
   margin: auto;
}

/* HEADER */
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #000;
   padding: 20px
}

.logo {
   font-size: 24px;
   font-weight: bold;
}

.search-bar input {
   padding: 10px;
   border-radius: 20px;
   border: none;
   width: 300px;
}

.buttonsearch {
   margin-left: -20px;
   background: none;
   border: none;
   cursor: pointer
}

.buttonsearch:hover img {
   border: 2px solid #fff;
}

#lupa {
   width: 2em;
   height: 1.5em;
   border-radius: 90%;
   margin-left: -17px;
}

/* MENU */
.fixed-size {
   width: 35px;
   height: 35px;
   object-fit: cover;
   border-radius: 7px
}

.menucontainer {
   display: flex;
   align-items: center;
   gap: 40px;
   padding-right: 25px
}

.menus {
   display: flex;
   gap: 3px;
}

/* FILMES CONTAINER */
#filmesContainer {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px;
   padding: 20px;
   justify-items: center;
}

/* FILME */
.filme {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background-color: #222;
   border-radius: 10px;
   padding: 10px;
   /* margem interna de 10px */
   width: 250px;
   height: 380px;
   transition: transform 0.3s ease;
}

.filme:hover {
   transform: translateY(-5px);
}

.filme img {
   width: 100%;
   /* preenche a área disponível */
   height: 300px;
   object-fit: cover;
   /*preeenche o espaço completamente, cortando o exesso da imagem, sem distorcer ela */
   border-radius: 10px;
}

.filme h2 {
   font-size: 1rem;
   text-align: center;
   text-shadow: 2px 2px 5px #000;
   max-height: 40px;
   overflow: hidden;
   word-break: break-word;
   /*se houver palavras muito grandes, faz a quebra de linha, para não vazar*/
   white-space: normal;
   /* PERMITE QUEBRAR LINHA */
}

/* OUTROS ESTILOS */
main {
   padding: 20px;
   margin-top: 80px;
}

.filters {
   display: flex;
   justify-content: center;
   background-color: #333;
   padding: 8px;
   margin-top: 0;
}

.filter-btn {
   background-color: #222;
   border: none;
   color: #fff;
   padding: 10px 30px;
   margin: 1px 10px;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s;
}

.filter-btn:hover {
   background-color: #555;
}